:root{
    --windows-blue: #02cbff;
}

/* Intro */
#Intro {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    display: grid;
    grid-template-columns: calc(50% - 100px) 200px calc(50% - 100px);
    grid-template-rows: 50% 50%;
}

#WindowsLogo {
    grid-area: 1 / 2 / span 1 / span 1;
    justify-self: center;
    align-self: end;
    width: 160px;
    height: 160px;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    transform: perspective(100px) rotateY(-15deg);
}

#WindowsLogo .grid {
    background-color: var(--windows-blue);
    margin: 2px;
}

#WindowSpinner {
    grid-area: 2 / 2 / span 1 / span 1;
    justify-self: center;
    align-self: center;
    width: 60px;
    height: 60px;
    position: relative;
}

.spinner-ball {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    animation: spinner 2s linear infinite;
}

.spinner-ball:nth-of-type(1){
    animation-delay: 150ms;
}

.spinner-ball:nth-of-type(2){
    animation-delay: 300ms;
}

.spinner-ball:nth-of-type(3){
    animation-delay: 450ms;
}

.spinner-ball:nth-of-type(4){
    animation-delay: 600ms;
}

.spinner-ball:nth-of-type(5){
    animation-delay: 750ms;
}

.spinner-ball:nth-of-type(6){
    animation-delay: 900ms;
}

.spinner-ball:before {
    content: '';
    position: absolute;
    bottom: 0;
    right: 50%;
    width: 5px;
    height: 5px;
    background-color: #fff;
    border-radius: 50%;
}

@keyframes spinner{
    0%{
        transform: rotate(0deg);
    }
    45%{
        transform: rotate(160deg);
    }
    55%{
        transform: rotate(185deg);
    }
    90%{
        transform: rotate(350deg);
        opacity: 1;
    }
    91%{
        opacity: 0;
    }
    100%{
        transform: rotate(360deg);
        opacity: 0;
    }
}