@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100&display=swap');

:root{
    --windows-blue: #02cbff;
    --hover-bg: rgba(255,255,255,.1);
    --grid-blue:#0078d7;
    --grid-red: #d03438;
    --grid-green: #0f7c0f;
    --grid-orange: #dc3c02;
    --grid-purple: #80397b;
    --grid-darkblue: #4269a5;
    --grid-gray: #5f6368;
}

* {
    box-sizing: border-box;
}

html, body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    font-family: 'Lato', sans-serif;
}

/* Intro */
#Intro {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 50% 30% 20%;
    animation: intro 6s linear;
    animation-iteration-count: 1;
    transform: scale(0);
    z-index: 2;
}

#WindowsLogo {
    grid-area: 1 / 1 / span 1 / span 1;
    justify-self: center;
    align-self: end;
    width: 160px;
    height: 160px;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    transform: perspective(100px) rotateY(-15deg);
}

#WindowsLogo .grid {
    background-color: var(--windows-blue);
    margin: 2px;
}

#WindowSpinner {
    grid-area: 2 / 1 / span 1 / span 1;
    justify-self: center;
    align-self: center;
    width: 60px;
    height: 60px;
    position: relative;
}

.spinner-ball {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    animation: spinner 2s linear infinite;
}

.spinner-ball:nth-of-type(1){
    animation-delay: 150ms;
}

.spinner-ball:nth-of-type(2){
    animation-delay: 300ms;
}

.spinner-ball:nth-of-type(3){
    animation-delay: 450ms;
}

.spinner-ball:nth-of-type(4){
    animation-delay: 600ms;
}

.spinner-ball:nth-of-type(5){
    animation-delay: 750ms;
}

.spinner-ball:nth-of-type(6){
    animation-delay: 900ms;
}

.spinner-ball:before {
    content: '';
    position: absolute;
    bottom: 0;
    right: 50%;
    width: 5px;
    height: 5px;
    background-color: #fff;
    border-radius: 50%;
}

#StartTitle{
    grid-area: 2 / 1 / span 1 / span 1;
    justify-self: center;
    align-self: end;
    color: #fff;
    font-size: 30px;
}

@keyframes spinner{
    0%{
        transform: rotate(0deg);
    }
    45%{
        transform: rotate(160deg);
    }
    55%{
        transform: rotate(185deg);
    }
    90%{
        transform: rotate(350deg);
        opacity: 1;
    }
    91%{
        opacity: 0;
    }
    100%{
        transform: rotate(360deg);
        opacity: 0;
    }
}

@keyframes intro{
    0%{
        transform: scale(1);
        opacity: 1;
    }
    97%{
        transform: scale(1);
        opacity: 1;
    }
    98%{
        transform: scale(0);
        opacity: 0;
    }
}

/* login screen */
#Login {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: calc(50% - 40px) 80px calc(50% - 40px);
    justify-content: center;
}

#LoginCircle {
    background-color: rgba(155,155,155,0.8);
    width: 180px;
    height: 180px;
    align-self: end;
    border-radius: 50%;
    display: grid;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

#LoginCircle i.fa.fa-user-o {
    color: #fff;
    font-size: 80px;
}

#LoginUser H2 {
    text-align: center;
    color: #fff;
    font-size: 40px;
    line-height: 0;
}

form#LoginForm {
    display: flex;
    align-self: self-start;
    box-shadow: 0 0 2px 1px #fff;
}

#LoginForm input, #LoginForm button{
    background-color: rgba(255,255,255,0.7);
    border: none;
    outline: none;
}

#LoginForm input{
    font-size: 20px;
    letter-spacing: 1px;
}

#LoginForm button i{
    color: #fff;
    cursor: pointer;
}

#BlurOnFocusBG{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(images/login_wallpaper.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
    filter: blur(0);
    transition: filter 0.5s linear;
}

#LoginForm input:focus ~ #BlurOnFocusBG{
    filter: blur(8px);
}

/* Desktop */
body.desktop{
    background-image: url(images/wallpaper.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

footer#MenuBar {
    background-color: #2c3640;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    display: grid;
    grid-template-columns: 240px calc(100% - 420px) 180px;
}

.application-icons {
    display: flex;
    justify-content: space-between;
}

.application-icons div.application-icon {
    text-align: center;
    background: none;
    border: none !important;
    outline: none;
    width: 100%;
    position: relative;
}

.application-icons div.application-icon > img, .application-icons div.application-icon > a > img {
    cursor: pointer;
    padding: 12px 0;
}

div.application-icon input[type="file"]{
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0;
    left: 0;
    cursor: pointer;
}

.application-icons div.application-icon:hover{
    background-color: var(--hover-bg);
}

.application-icons div.application-icon .fa-search{
    transform: rotateY(180deg);
}

.application-icon[title="Wyszukaj"]:hover .search-form{
    display: block !important;
    position: absolute;
    top: -37px;
}

input#search{
    padding: 10px 5px;
}

.application-icons div#LogoWindows:hover #MenuStart{
    display: grid !important;
    opacity: 1;
}

#MenuStart {
    display: none;
    position: absolute;
    bottom: 45px;
    left: 0;
    height: 520px;
    max-height: calc(100vh - 45px);
    background-color: rgba(34, 38, 42, 0.6);
    grid-template-columns: 50px 260px 380px;
    opacity: 0;
    transition: opacity 1s ease-in-out;
    overflow: hidden;
}

#MenuLeft {
    display: grid;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 50px;
}

#MenuLeft:hover {
    width: 260px;
    box-shadow: 4px 1px 2px rgba(0,0,0,.3);
    background-color: rgba(34, 38, 42, 0.99);
}

#MenuLeft span {
    margin-left: 20px;
    display: none;
}

#MenuLeft:hover span{
    display: inline-block;
}

#MenuLeft .menu-icon {
    text-align: left;
    background: none;
    border: none;
    outline: none;
    color: #fff;
    font-size: 15px;
    width: 100%;
    font-family: 'Lato', sans-serif;
    padding: 12px 15px;
    cursor: pointer;
}

#MenuLeft .menu-icon:hover{
    background-color: var(--hover-bg);
}

#PowerMenu {
    align-self: end;
    display: grid;
    width: 100%;
}

#StickyMenu {
    align-self: start;
    width: 100%;
    font-weight: bold;
}

#MenuList {
    grid-column-start: 2;
    overflow: hidden;
}

.scroll-container {
    width: calc(100% + 60px);
    overflow-y: scroll;
    height: 100%;
    padding-right: 60px;
}

#MenuList ul{
    text-align: left;
    list-style: none;
    color: #fff;
    font-size: 12px;
    padding-inline-start: 0;
}

#MenuList ul h4{
    padding-left: 6px;
}

#MenuList ul li{
    display: flex;
    align-items: center;
    margin: 4px 0;
    padding: 2px 2px 2px 6px; 
    cursor: pointer;
}

#MenuList ul li:hover{
    background-color: var(--hover-bg);
}

#MenuList ul li span {
    margin-left: 10px;
    display: inline-block;
    width: 100%;
}

#MenuList ul li img[src="images/list-folder-icon.jpg"] + span:after {
    content: "";
    background: url(images/toggle_down.svg);
    float: right;
    margin-right: 10px;
    width: 15px;
    height: 15px;
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
}

#MenuGrids{
    max-height: calc(100vh - 45px);
    padding: 30px 30px 30px 0;
}

#MenuGrids .scroll-container{
    display: grid;
    grid-column-start: 3;
    grid-template-columns: repeat(3, 33.3%);
    grid-template-rows: repeat(4, 25%);
    justify-content: space-between;
}

.grid {
    margin: 3px;
    cursor: pointer;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: calc(100% - 2em) 2em;
}

.grid img {
    justify-self: center;
    align-self: center;
}

.grid span {
    color: #fff;
    text-shadow: 1px 1px 6px rgba(0,0,0,.9);
    font-size: 12px;
    align-self: center;
    justify-self: start;
    padding: 0 6px;
}

.grid:hover{
    filter: brightness(1.1);
}

.grid.double {
    grid-area: span 1 / span 2;
}

.grid.blue{   
    background-color: var(--grid-blue);
}

.grid.darkblue{   
    background-color: var(--grid-darkblue);
}

.grid.red{   
    background-color: var(--grid-red);
}

.grid.green{   
    background-color: var(--grid-green);
}

.grid.orange{   
    background-color: var(--grid-orange);
}

.grid.purple{   
    background-color: var(--grid-purple);
}

.grid.gray{   
    background-color: var(--grid-gray);
}

.clock-icons {
    grid-column-start: 3;
    display: grid;
    align-items: center;
    grid-template-columns: 30px 30px 60px 30px;
}

.clock-icons > div {
    cursor: pointer;
    color: #fff;
    font-size: 12px;
    font-family: 'Lato', sans-serif;
    padding: 0 5px;
}

@media only screen and (max-width: 959px) {
    #MenuGrids{
        padding: 10px 10px 10px 0;
    }

    .grid{
        grid-template-rows: calc(100% - 15px) 15px;
    }
}

@media only screen and (max-width: 767px) {
    #WindowsLogo{
        width: 100px;
        height: 100px; 
    }

    #WindowSpinner{
        width: 30px;
        height: 30px;
    }

    .spinner-ball:before{     
        right: 50%;
        width: 2px;
        height: 2px;
    }

    #StartTitle {
        grid-area: 3 / 1 / span 1 / span 1;
        align-self: center;
    }

    #Login{
        grid-template-rows: calc(60% - 40px) 80px calc(40% - 40px);
    }

    #LoginCircle {
        width: 120px;
        height: 120px;
    }

    #MenuStart{
        height: calc(100vh - 45px);
        max-height: 580px;
    }

    #MenuList{
        height: calc(100vh - 45px);
    }

    footer#MenuBar{
        grid-template-columns: calc(100% - 100px) 100px;
    }

    .clock-icons{
        grid-column-start: 2;
        grid-template-columns: 0 0 100% 0;
        text-align: right;
        padding: 0 5px;
    }
}

@media only screen and (max-width: 399px){
    #MenuStart{
        grid-template-columns: 50px calc(100% - 50px);
        width: 100vw;
    }

    #MenuGrids{
        display: none;
    }
}

@media only screen and (min-width: 400px) and (max-width: 767px) {
    #MenuStart{
        grid-template-columns: 50px 210px calc(100vw - 260px);
        max-width: 510px;
    }

    #MenuGrids{
        max-width: 250px;
    }

    #MenuGrids .scroll-container{
        display: flex;
        flex-wrap: wrap;
        max-width: 250px;
        width: 100%;
    }

    .grid{
        padding: 5px;
        min-width: 100px;
    }

    .grid{
        width: calc(50% - 6px);
    }

    .grid span{
        justify-self: center;
    }
}