@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100&display=swap');

:root{
    --windows-blue: #02cbff;
}

html, body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
}

/* Intro */
#Intro {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 50% 30% 20%;
    animation: intro 6s linear;
    animation-iteration-count: 1;
    transform: scale(0);
    z-index: 2;
}

#WindowsLogo {
    grid-area: 1 / 1 / span 1 / span 1;
    justify-self: center;
    align-self: end;
    width: 160px;
    height: 160px;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    transform: perspective(100px) rotateY(-15deg);
}

#WindowsLogo .grid {
    background-color: var(--windows-blue);
    margin: 2px;
}

#WindowSpinner {
    grid-area: 2 / 1 / span 1 / span 1;
    justify-self: center;
    align-self: center;
    width: 60px;
    height: 60px;
    position: relative;
}

.spinner-ball {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    animation: spinner 2s linear infinite;
}

.spinner-ball:nth-of-type(1){
    animation-delay: 150ms;
}

.spinner-ball:nth-of-type(2){
    animation-delay: 300ms;
}

.spinner-ball:nth-of-type(3){
    animation-delay: 450ms;
}

.spinner-ball:nth-of-type(4){
    animation-delay: 600ms;
}

.spinner-ball:nth-of-type(5){
    animation-delay: 750ms;
}

.spinner-ball:nth-of-type(6){
    animation-delay: 900ms;
}

.spinner-ball:before {
    content: '';
    position: absolute;
    bottom: 0;
    right: 50%;
    width: 5px;
    height: 5px;
    background-color: #fff;
    border-radius: 50%;
}

#StartTitle{
    font-family: 'Lato', sans-serif;
    grid-area: 2 / 1 / span 1 / span 1;
    justify-self: center;
    align-self: end;
    color: #fff;
    font-size: 30px;
}

@keyframes spinner{
    0%{
        transform: rotate(0deg);
    }
    45%{
        transform: rotate(160deg);
    }
    55%{
        transform: rotate(185deg);
    }
    90%{
        transform: rotate(350deg);
        opacity: 1;
    }
    91%{
        opacity: 0;
    }
    100%{
        transform: rotate(360deg);
        opacity: 0;
    }
}

@keyframes intro{
    0%{
        transform: scale(1);
        opacity: 1;
    }
    80%{
        opacity: 1;
    }
    95%{
        transform: scale(1);
        opacity: 1;
    }
    98%{
        transform: scale(0);
        opacity: 0;
    }
    100%{
        transform: scale(0);    
        opacity: 0;
        z-index: -1;
    }
}

/* login screen */
#Login {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: calc(50% - 40px) 80px calc(50% - 40px);
    justify-content: center;
    background-image: url(login_wallpaper.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#LoginCircle {
    background-color: rgba(155,155,155,0.8);
    width: 180px;
    height: 180px;
    align-self: end;
    border-radius: 50%;
    display: grid;
    justify-content: center;
    align-items: center;
}

#LoginCircle i.fa.fa-user-o {
    color: #fff;
    font-size: 80px;
}

#LoginUser H2 {
    text-align: center;
    color: #fff;
    font-family: 'Lato', sans-serif;
    font-size: 40px;
    line-height: 0;
}

form#LoginForm {
    display: flex;
    align-self: self-start;
    box-shadow: 0 0 2px 1px #fff;
}

#LoginForm input, #LoginForm button{
    background-color: rgba(255,255,255,0.7);
    border: none;
    outline: none;
}

#LoginForm button i{
    color: #fff;
    cursor: pointer;
}

/* Desktop */
body.desktop{
    background-image: url(wallpaper.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

footer#MenuBar {
    background-color: #2c3640;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    display: grid;
    grid-template-columns: 240px calc(100% - 400px) 160px;
}

.application-icons {
    display: flex;
    justify-content: space-between;
}

.application-icons div.application-icon {
    text-align: center;
    background: none;
    border: none !important;
    outline: none;
    cursor: pointer;
    padding: 12px 0;
    width: 100%;
}

div.application-icon{
    position: relative;
}

div.application-icon input[type="file"]{
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0;
}

.application-icons div.application-icon:hover{
    background-color: rgba(255,255,255,.1);
}

.application-icons div.application-icon .fa-search{
    transform: rotateY(180deg);
}

.application-icon[title="Wyszukaj"]:hover .search-form{
    display: block !important;
    position: absolute;
    top: -37px;
}

input#search{
    padding: 10px 5px;
}